.itemCont {
  display: flex;
  justify-content:center;
  gap: 2px;
}

.item {
  width: 200px;
}

.itemInfo {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.itemQuantity {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.itemQuantity button {
  all: unset;
  cursor: pointer;
}

.itemQuantity div {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  color: #1d1f22;
}

.imgCont {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
}

.itemName {
  font-size: 18px;
  font-family: Raleway;
  font-weight: 300;
}

.itemPrice {
  font-size: 16px;
  font-family: Raleway;
  font-weight: 400;
}



