.cartButton {
    all: unset;
    position: relative;
    cursor: pointer;
    z-index: 10;
}


.totalItems {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: black;
    color: white;
    border-radius: 10px;
    left: 10px;
    bottom: 15px;
    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;
    
    font: Roboto;
    font-weight: 700;
}



@media (max-width: 500px) {
    .cartButton img {
        width: 20px;
    }

    .totalItems {
        width: 14px;
        height: 14px;
        border-radius: 7px;
        font-size: 10px;
    }
}