@keyframes slideDown {
  from {
    top: -100px;
  }
  to {
    top: 0;
  }
}

.cartCont {
  position: absolute;
  background-color: white;
  display: flex;
  width: 400px;
  height: fit-content;
  z-index: 10;
  right: 72px;
  padding: 16px 32px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  animation-name: slideDown;
  animation-duration: 0.2s;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 40px;

  max-height: 600px;
  overflow-y: auto;
  white-space: nowrap;
}

.btn {
  background: #5ece7b;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 600;
  color: #ffff;
  border: none;
  padding: 16px 90px;
  cursor: pointer;
}

.blur {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: #23232390;
}

.myBag {
  font-family: Raleway;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
}

.myBag span {
  font-weight: 500;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: Raleway;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
}

.message {
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  color: #155724;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
}

@media (max-width: 900px) {
  .cartCont {
    padding: 8px 16px;
  }

  .items {
    max-height: 500px;
  }
}

@media (max-width: 600px) {
  .cartCont {
    width: 100%;
    left: 0;
  }
}
