
 
@keyframes activeUnderline {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}



.categoryText {
  all:unset;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  width: 100%;
  font-family: Raleway;
}

.categoryButton {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center;
}


.activeUnderline {
  background: #5ece7b;
  height: 2px;
  width: 100%;
  animation-name: activeUnderline;
  animation-duration: 0.2s;
}

@media (max-width: 500px) {
  .categoryText {
    font-size: 14px;
  }

}
