.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 104px;
  padding-top: 24px;
  background-color: white;
  position: relative;
  z-index: 11;
  padding-top: 24px;
  padding-left: 3%;
  padding-right: 3%;
  box-sizing: border-box;
}

.logoCont {
  position: absolute;
  left: 50%;
  cursor: pointer;
}

.categories {
  display: flex;
  gap: 32px;
  font-size: 16px;
  height: 56px;
}

.rightButtons {
  display: flex;
  align-items: center;
  gap: 30px;
}

.ordersNavLink {
  all: unset;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  width: 100%;
  font-family: Raleway;
}

.ordersNavLink:hover {
  color: #2255aa;
}

@media (max-width: 500px) {
  .logoCont img {
    width: 30px;
  }

  .categories {
    gap: 12px;
    height: 28px;
  }

  .header {
    padding-top: 12px;
    height: 50px;
  }

  .rightButtons {
    gap: 10px;
  }
}
