.imageSlider {
  display: flex;
  gap: 50px;
  width: 800px; /* Fixed width */
  height: 700px; /* Fixed height */
}

.mainImage {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Match the container width */
  height: 100%; /* Match the container height */
  overflow: hidden; /* Hide overflow */
}

.mainImage img {
  max-height: 100%; /* Ensure the image scales to fit the container */
  max-width: 100%;
  object-fit: cover; /* Cover the container while maintaining the aspect ratio */
  width: auto;
  height: auto;
  display: block;
}

.mainImage button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.mainImage button:first-child {
  left: 10px;
}

.mainImage button:last-child {
  right: 10px;
}

.thumbnails {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 700px;
  overflow: hidden;
  overflow-y: scroll;
  padding-right: 30px;
}

.thumbnails img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.thumbnails img:hover {
  opacity: 1;
}



@media (max-width: 1050px) {
  .imageSlider {
    flex-direction: column; /* Stack the elements vertically */
    gap: 20px;
    width: 330px; /* Fixed width for smaller screens */
    height: auto; /* Let height adjust */
  }


  .mainImage img {
    max-height: 100%; /* Ensure the image scales to fit the container */
    max-width: 100%;
    object-fit: cover;
  }

  .mainImage button {
    padding: 8px; /* Reduce button padding */
    font-size: 14px; /* Smaller font size */
  }

  .thumbnails {
    flex-direction: row; /* Change to row for horizontal scrolling */
    max-height: 150px; /* Fixed height for the thumbnails container */
    overflow-x: scroll; /* Horizontal scroll for thumbnails */
    gap: 12px;
    padding-right: 0;
  }

  .thumbnails img {
    width: 80px; /* Fixed width */
    height: 80px; /* Fixed height */
  }
}
