.imageSlider {
  display: flex;
  gap: 50px;
  width: 800px; /* Fixed width */
  height: 700px; /* Fixed height */
}

.mainImage {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px; /* Match the container width */
  height: 700px; /* Match the container height */
  overflow: hidden; /* Hide overflow */
}

.mainImage img {
  max-height: 100%; /* Ensure the image scales to fit the container */
  max-width: 100%;
  object-fit: cover; /* Cover the container while maintaining the aspect ratio */
  width: auto;
  height: auto;
  display: block;
}

.mainImage button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.mainImage button:first-child {
  left: 10px;
}

.mainImage button:last-child {
  right: 10px;
}

.thumbnails {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 700px;
  overflow: hidden;
  overflow-y: scroll;
  padding-right: 30px;
}

.thumbnails img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.thumbnails img:hover,
.thumbnails img.active {
  opacity: 1;
}
