.imageSlider {
  display: flex;
  width: 1000px;
  height: 700px;
  gap: 20px;
}

.mainImage {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.mainImage img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  width: auto;
  height: auto;
  display: block;
}

.mainImage button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.mainImage button:first-child {
  left: 10px;
}

.mainImage button:last-child {
  right: 10px;
}

.thumbnails {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 700px;
  overflow-y: scroll;
  overflow: scroll;
  width: 200px;
  overflow-x: hidden;
}

.thumbnails img {
  width: 120px;
  height: auto;
  object-fit: cover;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.thumbnails img:hover {
  opacity: 1;
}

@media (max-width: 1050px) {
  .imageSlider {
    flex-direction: column;
    gap: 20px;
    width: 330px;
    height: auto;
  }

  .mainImage img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
  }

  .mainImage button {
    padding: 8px;
    font-size: 14px;
  }

  .thumbnails {
    flex-direction: row;
    max-height: 150px;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 12px;
    padding-right: 0;
    width: 100%;
    height: 110px;
  }

  .thumbnails img {
    width: 80px;
    height: 80px;
  }
}
