.productPage {
  margin-top: 80px;
  height: 100%;
  display: flex;
  gap: 109px;
  justify-content: center;
  margin-bottom: 40px;
  padding: 0 3%;
  box-sizing: border-box;
}

.productInfo {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.productInfo h1 {
  font-family: Raleway;
  font-weight: 600;
  font-size: 30px;
  line-height: 27px;
  margin: 0;
}

@keyframes colorChange {
  from {
    background: Gray;
  }
  to {
    background: #5ece7b;
  }
}

.addToCartBtn {
  background: Gray;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  border: none;
  padding: 16px 90px;
  cursor: not-allowed;
}

.addToCartBtnEnabled {
  background: #5ece7b;
  cursor: pointer;
  animation: colorChange 0.3s ease forwards;
  animation-fill-mode: forwards;
}

.priceCont div {
  font-size: 24px;
  color: #1d1f22;
  font-weight: 700;
  font-family: Raleway;
}

.priceCont h2 {
  font-size: 18px;
  font-family: Roboto Condensed;
  font-weight: 700;
  color: #1d1f22;
}

.productInfo p {
  line-height: 25px;
  font-family: "Roboto";
}

@media (max-width: 800px) {
  .productPage {
    flex-direction: column;
    align-items: center;
  }
}
