.category-text {
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    width: 100%;
    font-family: Raleway;
  }
  
  .category-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .active-underline {
    background: #5ece7b;
    height: 2px;
    width: 110%;
    gap: 30px;
  } 