.home {
    width: 100%;
    margin-top: 80px;
    margin-bottom: 40px;
  }
  
  .categoryHeading {
    font-size: 42px;
    font-family: Raleway;
    margin-bottom: 100px;
  }
  
  .itemGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    max-width: 100%; /* Ensure grid doesn't exceed the container */
    width: 100%;
    box-sizing: border-box;
  }
  
  
  @media (max-width: 1024px) {
    .itemGrid {
      grid-template-columns: repeat(3, 1fr); /* 3 columns for medium screens */
    }
  }
  
  @media (max-width: 768px) {
    .itemGrid {
      grid-template-columns: repeat(2, 1fr); /* 2 columns for small screens */
    }
  }
  
  @media (max-width: 480px) {
    .itemGrid {
      grid-template-columns: repeat(1, 1fr); /* 1 column for very small screens */
    }
  }
  