.imageSlider {
  display: flex;
  gap: 50px;
  width: 800px;
  height: 700px;
}

.mainImage {
  position: relative;
  display: flex;
}

.mainImage img {
  max-height: 700px;
  max-width: 800px;
  width: auto;
  display: block;
}

.mainImage button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.mainImage button:first-child {
  left: 10px;
}

.mainImage button:last-child {
  right: 10px;
}

.thumbnails {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  gap: 20px;
  max-height: 700px;
  overflow: hidden;
  overflow-y: scroll;
}

.thumbnails img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.thumbnails img:hover,
.thumbnails img.active {
  opacity: 1;
}
