.attributes {
  display: flex;
  gap: 12px;
  align-items: center;
}

.attCont h2 {
  font-size: 18px;
  font-family: Roboto Condensed;
  font-weight: 700;
  color: #1d1f22;
}

.attributeItem {
  width: 32px;
  height: 32px;

  cursor: pointer;
  border: 1px solid black;
  box-sizing: border-box;
}
